<ion-header>
  <ion-toolbar>
    <ion-title>Creation d'une nouvelle pizza 🍕</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="padding: 10px;">
    <label for="name">Nom</label> :
    <input style="color: brown;" type="text" name="name" id="name" required />
    <br />
    <!--  -->
    <label for="name">Prix</label> :
    <input style="color: brown;" type="text" name="name" id="name" required />
    <br />
    <!--  -->
    <label for="name">Image</label> :
    <input style="color: brown;" type="text" name="name" id="name" required />
    <!--  -->
    <ion-button type="submit" style="margin-top: 20px;">Envoyer</ion-button>
  </form>
</ion-content>

<!-- <p>Image :</p>
<p>Nom :</p>
<p>Prix :</p>
<p>Ingrédients :</p> -->
