<ion-header>
  <ion-toolbar>
    <ion-title>Creation d'une nouvelle pizza 🍕</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="createPizza(form.value)" novalidate>
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" required ngModel name="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Prix</ion-label>
      <ion-input type="number" required ngModel name="prix"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Photo</ion-label>
      <ion-input type="text" required ngModel name="picture"></ion-input>
    </ion-item>

    <ion-button ion-button type="submit" block>Nouvelle pizza</ion-button>
  </form>
</ion-content>
