<ion-header>
  <ion-toolbar>
    <ion-title>Nos pizzas ! 🍕</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="navigationBarre">
    <ion-button routerLink="/home">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Votre Panier</ion-label>
    </ion-button>
  </div>

  <div *ngFor="let test of tests">
    <div class="cataloguePizza">
      <img src="{{test.photo}}" />
      <span>
        {{test.nom}} : {{test.prix}} €
      </span>
      <ion-button class="addToBasket">Ajouter au panier</ion-button>
    </div>
  </div>

  <!-- </div> -->
  <template #pizzaContainer></template>
</ion-content>
