<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza Time 🔥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navigationBarre">
    <ion-button routerLink="/pizzas">
      <ion-icon name="pizza" slot="start"></ion-icon>
      <ion-label>Nos Pizzas</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-button>

    <ion-button routerLink="/admin">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-button>
  </div>

  <p>
    Des produits frais, un savoir faire artisinale et une cuisson au feu de
    bois..<br /><br />
    Venez découvrir nos pizzas !
  </p>
  <!-- <img src="../../../resources/images/pizza.jpg" /> -->
  <div class="imagePizza"></div>
</ion-content>
