<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza Time 🔥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navigationBarre">
    <ion-button routerLink="/pizzas">
      <ion-icon name="pizza" slot="start"></ion-icon>
      <ion-label>Nos Pizzas</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Voir le panier</ion-label>
    </ion-button>

    <ion-button routerLink="/admin">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-button>
  </div>
</ion-content>
